.alternate,
.striped>tbody>:nth-child(odd),
ul.striped>:nth-child(odd) {
    background-color: #F1F9FF;
}

.review-icon-backend {
    width: 100%;
}

.unclickable {
    pointer-events: none;
    /* Disable click events */
    opacity: 0.5;
    /* Make the button look disabled */
    cursor: not-allowed;
    /* Change the cursor to indicate it's disabled */
}




/* person add/edit css  */

.person-edit-page {
    padding: 30px;
}

.form-field.give-review h4 {
    font-size: 22px;
    font-weight: bold;
}

.give-review p {
    font-weight: bold;
}

.give-review input[type=number] {
    max-width: 60px;
    text-align: center;
}

.form-table td input,
.form-table td textarea {
    max-width: 270px;
}
