.submit-button {
    color: #fff;
    border: none;
    padding: 14px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button {
    background: #000;
    color: #fff;
    padding: 2px 4px 6px 4px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 7px;
    display: inline-block;
    min-width: 40px;
}

/* Color classes for specific actions */
.button-edit {
    background-color: #007bff;
    /* Blue for Edit */
}

.button-reject {
    background-color: #ff8800;
    /* Orange for Reject */
}

.button-approve {
    background-color: #28a745;
    /* Green for Approve */
}

.button-delete {
    background-color: #dc3545;
    /* Red for Delete */
}

/* Hover and Focus Effects for better UX */
.custom-button:hover,
.custom-button:focus {
    opacity: 0.9;
    background: #5FC19F;
    color: #fff;
}

.custom-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}