.alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd) {
    background-color: #F1F9FF;
}

.table-btn {
    background: #000;
    color: #fff;
    padding: 2px 4px 6px 4px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 7px;
    display: inline-block;
    min-width: 40px;
}
.table-btn:hover {
    background: #5FC19F;
    color: #fff;
}

.review-icon-backend {
    width: 100%;
}



/* person add/edit css  */

.person-edit-page {
    padding: 30px;
}

.form-field.give-review h4 {
    font-size: 22px;
    font-weight: bold;
}

.give-review p {
    font-weight: bold;
}

.give-review input[type=number] {
    max-width: 60px;
    text-align: center;
}

.form-table td input, .form-table td textarea {
    max-width: 270px;
}
input#createpersonsub {
    background: #C69367;
    color: #fff;
    border: none;
    padding: 14px 25px;
    border-radius: 5px;
    cursor: pointer;
}


