/**
 * All of the CSS for your admin-specific functionality should be included in this file.
 *
 * The file is enqueued from inc/admin/class-admin.php.
 */

/* Import specific page/module CSS files */
@import url('Parts/add_edit-form.css');

.striped .alternate {
    background-color: white !important;
}

@keyframes blink {
    0% {
        background-color: #ffcccc;
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: #ffcccc;
    }
}

.blink {
    animation: blink 1s steps(5, start) infinite;
}

.unclickable {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.table-btn {
    background: #000;
    color: #fff;
    padding: 2px 4px 6px 4px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 7px;
    display: inline-block;
    min-width: 40px;
}