/*
====================================
Search person css Start
====================================
*/

.tjmk-search-person-content-box .content-title h2 {
    color: #5CC19F;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family: 'Have nothing to do with';
}

.tjmk-search-person-content-box .name-button-box {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.tjmk-search-person-content-box .name-button-box input {
    width: 416px;
    height: 87px;
    text-align: center;
    border-radius: 12px;
    background: #FFF;
    color: #7C7B7B;
    font-family: 'roboto';
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.1px;
    outline: none;
    border: 1px solid #d7d7d7;
}


.tjmk-search-person-content-box .search-button input {
    width: 312px;
    height: 68px;
    border-radius: 12px;
    background: #5CC19F;
    color: #FFF;
    text-align: center;
    font-family: 'Have nothing to do with';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
}



@media screen and (max-width: 778px) {

    .tjmk-search-person-content-box .content-title h2 {
        font-size: 22px;
    }

    .tjmk-search-person-content-box .name-button-box input {
        width: 95% !important;
        height: 60px;
        font-size: 20px;
    }

    .tjmk-search-person-content-box .name-button-box {
        margin-bottom: 20px;
    }

    .tjmk-search-person-content-box .search-button input {
        width: 80%;
        height: 50px;
        font-size: 20px;
    }


}


/*
====================================
Search person css End
====================================
*/



/*
====================================
Search Result table css Start
====================================
*/


.tjmk-search-result-wrpper {
    max-width: 1200px;
    padding: 0px 30px;
    margin: auto;
}

.tjmk-search-result-wrpper .result-fulter-wrpper {
    padding-top: 80px;
}

.tjmk-search-result-wrpper .top-wrpper {
    padding: 10px;
    display: flex;
}

.tjmk-search-result-wrpper .select-wrpper {
    display: flex;
    gap: 12px;
    align-items: center;
}

.tjmk-search-result-wrpper .select-box {
    border-radius: 8px;
    background: #E0E0E0;
    padding: 8px 9px;
}

.tjmk-search-result-wrpper .select-box select,
.tjmk-search-result-wrpper .select-box select option {
    border: none;
    background-color: transparent;
}

.tjmk-search-result-wrpper .select-wrpper label,
.tjmk-search-result-wrpper .select-wrpper span {
    color: #000;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 500;
}

.tjmk-search-result-wrpper .search-input-wrpper {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #9E9E9E;
}

.tjmk-search-result-wrpper .search-input-wrpper img {
    cursor: pointer;
}

.tjmk-search-result-wrpper .search-input-wrpper input,
.tjmk-search-result-wrpper .search-input-wrpper input:focus {
    border: none;
    outline: none;
    color: #9E9E9E;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
}

.tjmk-search-result-wrpper th,
.tjmk-search-result-wrpper td {
    padding: 4px;
    text-align: left;
}

.tjmk-search-result-wrpper th:last-child,
.tjmk-search-result-wrpper td:last-child {
    text-align: center;
}



.tjmk-search-result-wrpper table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

.tjmk-search-result-wrpper th {
    color: #000;
    font-family: 'Have nothing to do with';
    font-size: 14px;
    font-weight: 400;
}

.tjmk-search-result-wrpper th p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tjmk-search-result-wrpper td {
    color: #000;
    font-family: 'roboto';
    font-size: 14px;
    font-weight: 500;
}

.tjmk-search-result-wrpper table tr:nth-child(even) {
    background-color: #F7F6FE;
}


.tjmk-search-result-wrpper td .review-score-icon {

    min-width: 100px;
}



.tjmk-search-result-wrpper .pagination {
    padding: 16px;
}

.tjmk-search-result-wrpper .pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.tjmk-search-result-wrpper .pagination ul li {
    display: inline-block;
    margin: 0 6px;
}

.tjmk-search-result-wrpper .pagination ul li:first-child a,
.tjmk-search-result-wrpper .pagination ul li:last-child a {
    color: #9E9E9E;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 500;
    text-decoration: navajowhite;
}

.tjmk-search-result-wrpper .pagination ul li:nth-child(2) a,
.tjmk-search-result-wrpper .pagination ul li:nth-child(3) a,
.tjmk-search-result-wrpper .pagination ul li:nth-child(4) a {
    display: inline-flex;
    padding: 8px 13px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #E0E0E0;
    transition: 0.2s;
    text-decoration: navajowhite;
    font-family: 'roboto';
}

.tjmk-search-result-wrpper .pagination ul li:nth-child(2) a:hover,
.tjmk-search-result-wrpper .pagination ul li:nth-child(3) a:hover,
.tjmk-search-result-wrpper .pagination ul li:nth-child(4) a:hover,
.tjmk-search-result-wrpper #active {
    background-color: #5CC19F;
    color: #ffffff;
}



.tjmk-search-result-wrpper .second-table table tr:last-child td {
    text-align: right;
    color: #000;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 400;
    padding-right: 8px;
    padding-left: 8px;
}

.tjmk-search-result-wrpper .second-table table tr:last-child td a {
    color: #5CC19F;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 700;
    text-decoration-line: underline;
}

.tjmk-search-result-wrpper .no-person-found a {
    color: #5CC19F;
    font-family: 'roboto';
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

/*
* Custom css 
*/
/* Style the disabled button to look inactive */
.pagination a.disabled {
    pointer-events: none;
    /* This makes the element not clickable */
    opacity: 0.5;
    /* Visually indicates the button is disabled */
    cursor: not-allowed;
    /* Changes the cursor to 'not-allowed' */
}

button#search-button {
    border-radius: 5px;
    margin: 0px 10px 0px;
}

button#clear-button {
    border-radius: 5px;
}

@media screen and (max-width: 778px) {

    .tjmk-search-result-wrpper th,
    .tjmk-search-result-wrpper td {
        min-width: 110px;
    }

    .tjmk-search-result-wrpper .no-person-found {
        text-align: left;
    }

}


/*
====================================
Search Result table css End
====================================
*/





/*
====================================
Single person page css start
====================================
*/


.tjmk-person-content-wrpper {
    max-width: 1200px;
    padding: 0px 30px;
    margin: auto;
}

.tjmk-person-content-wrpper .inner-wrpper {
    width: 90%;
    margin: auto;
}

.tjmk-person-content-wrpper .need-border {
    padding-bottom: 17px;
    border-bottom: 1px solid #BFBFBF;
}

.tjmk-person-content-wrpper .person-details-wrpper {
    display: flex;
}



.tjmk-person-content-wrpper .details-left-wrpper {
    width: 40%;
}

.tjmk-person-content-wrpper .details-right-area {
    width: 60%;
    padding-left: 40px;
    margin-top: 183px;
}

.tjmk-person-content-wrpper .person-img-box {
    text-align: center;
    max-width: 135px;
    margin-left: auto;
    margin-right: auto;
}

.tjmk-person-content-wrpper .person-title h3 {
    margin: 12px 0 10px 0;
    color: #1A1919;
    text-align: center;
    font-family: 'Have nothing to do with';
}

.tjmk-person-content-wrpper .person-title h3 span {
    color: #5CB994;
}

.tjmk-person-content-wrpper .person-rating-wrpper {
    border-radius: 12px;
    background-color: #000105;
    padding: 25px 5px;
}

.tjmk-person-content-wrpper .scale-wrpper {
    margin-bottom: 20px;
    border-bottom: 1px solid #a7a7a73b;
}

.tjmk-person-content-wrpper .scale-wrpper:nth-last-child(1) {
    border-bottom: none;
    margin-bottom: 0;
}

.tjmk-person-content-wrpper .scale-wrpper:nth-last-child(1) h3 {
    margin-bottom: unset;
}


.tjmk-person-content-wrpper .scale-reviews {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
}

.tjmk-person-content-wrpper .scale-wrpper h3 {
    color: #fff;
    font-family: 'Have nothing to do with';
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center;
}


.tjmk-person-content-wrpper .person-profile h2 {
    color: #000;
    text-align: center;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 17px;
}

.tjmk-person-content-wrpper .clame-btn {
    text-align: center;
}

.tjmk-person-content-wrpper .clame-btn a {
    padding: 13px 17px 12px 17px;
    color: #FFF;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
    border-radius: 13px;
    background: #C69367;
    transition: 0.2s;
    text-decoration: none;
}

.tjmk-person-content-wrpper .clame-btn a:hover {
    background-color: rgba(92, 193, 159, 0.8);
}



.tjmk-person-content-wrpper .single-details-wrpper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.tjmk-person-content-wrpper .tittle-box p {
    color: #000;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
    margin: 4px;
}

.tjmk-person-content-wrpper .tittle-box {
    width: 200px;
}

.tjmk-person-content-wrpper .detail-content-box>input {
    width: 100%;
    height: 49px;
    color: #FFF;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
    border-radius: 9px;
    background: #5CC19F;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: none;
    outline: none;
}

.tjmk-person-content-wrpper .detail-rating {
    padding-left: 5px;
    list-style: none;
}

.tjmk-person-content-wrpper .detail-rating li:first-child p {
    color: #000;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
}

.tjmk-person-content-wrpper .detail-rating li {
    width: 210px;
}

.tjmk-person-content-wrpper .detail-rating li .single-total-reivew {}




.tjmk-person-content-wrpper .all-reviwe-btn a {
    color: #FFF;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
    border-radius: 13px;
    background: #C69367;
    padding: 13px 17px;
    margin-top: 22px;
    transition: 0.2s;
    text-decoration: none;
}


.tjmk-person-content-wrpper .all-reviwe-btn a:hover {
    background-color: rgba(92, 193, 159, 0.8);
}


/*==================
Review Area CSS Here
====================*/
.tjmk-person-content-wrpper .review-area {
    margin-top: 23px;
}

.tjmk-person-content-wrpper .review-title h2 {
    color: #000;
    font-family: 'Have nothing to do with';
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.tjmk-person-content-wrpper .review-wrpper {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.tjmk-person-content-wrpper .single-review {
    padding: 30px 20px;
    border-radius: 30px;
    background: #F3F3F3;
    min-height: 248px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.tjmk-person-content-wrpper .single-review h2 {
    color: #000;
    text-align: center;
    font-family: 'Have nothing to do with';
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

.tjmk-person-content-wrpper .review-icon {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.tjmk-person-content-wrpper .review-icon li {
    display: inline-block;
    height: 35.707px;
    width: 35.707px;
    line-height: 35.707px;
    text-align: center;
    border-radius: 50%;
    background-color: #4EBE27;
    margin: 0 2px;
    cursor: pointer;
    opacity: 0.45;
}


.tjmk-person-content-wrpper .review-icon li img {
    transform: scale(1.5);
}

.tjmk-person-content-wrpper .star.selected {
    opacity: 1;
}




/*=============
Comment Box CSS
===============*/
.tjmk-person-content-wrpper .comment-wrpper {
    margin-top: 84px;
}

.tjmk-person-content-wrpper .inner-comment-wrpper {
    width: 70%;
    margin: auto;
}

.tjmk-person-content-wrpper .title-box h2 {
    color: #000;
    text-align: center;
    font-family: 'Have nothing to do with';
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.tjmk-person-content-wrpper .comment-form form {
    text-align: center;
}

.tjmk-person-content-wrpper .comment-form form textarea {
    width: 100%;
    resize: none;
    border-radius: 30px;
    background: #F3F3F3;
    border: none;
    outline: none;
    padding: 25px;
    height: 96px;
    font-family: 'roboto';
    color: rgba(0, 0, 0, 0.6);
}

.tjmk-person-content-wrpper .comment-form form input {
    width: 380px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-family: 'Have nothing to do with';
    font-size: 22px;
    font-weight: 400;
    border-radius: 20px;
    background: #C69367;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.tjmk-person-content-wrpper .comment-form form input:hover {
    background-color: rgba(92, 193, 159, 0.8);
}


/*
* Tempo css 
*/
.person-rating-wrpper h3 {
    font-size: 2rem;
}


@media screen and (max-width: 778px) {

    .tjmk-person-content-wrpper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .tjmk-person-content-wrpper .inner-wrpper {
        width: 100%;
    }

    .tjmk-person-content-wrpper .details-left-wrpper {
        width: 100%;
    }

    .tjmk-person-content-wrpper .details-right-area {
        width: 100%;
        padding-left: unset;
        margin-top: 20px;
    }

    .tjmk-person-content-wrpper .person-details-wrpper {
        flex-direction: column;
    }

    .tjmk-person-content-wrpper .clame-btn {
        height: 56px;
    }

    .tjmk-person-content-wrpper .single-details-wrpper {
        flex-direction: column;
        align-items: start;
    }

    .tjmk-person-content-wrpper .detail-content-box {
        width: 100%;

    }

    .tjmk-person-content-wrpper .detail-rating {
        text-align: center;
    }

    .tjmk-person-content-wrpper .detail-rating li {
        width: 100%;
    }

    .tjmk-person-content-wrpper .detail-rating .single-total-reivew {
        max-width: 204px;
    }

    .tjmk-person-content-wrpper .all-reviwe-btn {
        text-align: center;
    }

    .tjmk-person-content-wrpper .detail-content-box>input {
        padding-left: 5px;
    }

    .tjmk-person-content-wrpper .single-review {
        flex: 1 1 calc(100% - 20px);
        min-height: unset;
    }

    .tjmk-person-content-wrpper .comment-wrpper {
        margin-top: 50px;

    }

    .tjmk-person-content-wrpper .inner-comment-wrpper {
        width: 90%;
    }

    .tjmk-person-content-wrpper .comment-form form input {
        width: 100%;
        margin-top: 25px;
    }

    .tjmk-person-content-wrpper .comment-form form textarea {
        padding: 10px;
    }







}



/*
====================================
Single person page css End
====================================
*/
#profile-form {
    width: 70%;
    margin: auto;
}