/*
====================================
Single profile page css start
====================================
*/


.tjmk-profile-content-wrpper {
    max-width: 1200px;
    padding: 0px 30px;
    margin: auto;
}

.tjmk-profile-content-wrpper .inner-wrpper {
    width: 90%;
    margin: auto;
}

.tjmk-profile-content-wrpper .need-border {
    padding-bottom: 17px;
    border-bottom: 1px solid #BFBFBF;
}

.tjmk-profile-content-wrpper .profile-details-wrpper {
    display: flex;
}



.tjmk-profile-content-wrpper .details-left-wrpper {
    width: 40%;
}

.tjmk-profile-content-wrpper .details-right-area {
    width: 60%;
    padding-left: 40px;
    margin-top: 183px;
}

.tjmk-profile-content-wrpper .profile-img-box {
    text-align: center;
    max-width: 135px;
    margin-left: auto;
    margin-right: auto;
}

.tjmk-profile-content-wrpper .profile-title h3 {
    margin: 12px 0 10px 0;
    color: #1A1919;
    text-align: center;
    font-family: 'Have nothing to do with';
}

.tjmk-profile-content-wrpper .profile-title h3 span {
    color: #5CB994;
}

.tjmk-profile-content-wrpper .profile-rating-wrpper {
    border-radius: 12px;
    background-color: #000105;
    padding: 25px 5px;
}

.tjmk-profile-content-wrpper .scale-wrpper {
    margin-bottom: 20px;
    border-bottom: 1px solid #a7a7a73b;
}

.tjmk-profile-content-wrpper .scale-wrpper:nth-last-child(1) {
    border-bottom: none;
    margin-bottom: 0;
}

.tjmk-profile-content-wrpper .scale-wrpper:nth-last-child(1) h3 {
    margin-bottom: unset;
}


.tjmk-profile-content-wrpper .scale-reviews {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
}

.tjmk-profile-content-wrpper .scale-wrpper h3 {
    color: #fff;
    font-family: 'Have nothing to do with';
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center;
}


.tjmk-profile-content-wrpper .profile-profile h2 {
    color: #000;
    text-align: center;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 17px;
}

.tjmk-profile-content-wrpper .clame-btn {
    text-align: center;
}

.tjmk-profile-content-wrpper .clame-btn a {
    padding: 13px 17px 12px 17px;
    color: #FFF;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
    border-radius: 13px;
    background: #C69367;
    transition: 0.2s;
    text-decoration: none;
}

.tjmk-profile-content-wrpper .clame-btn a:hover {
    background-color: rgba(92, 193, 159, 0.8);
}



.tjmk-profile-content-wrpper .single-details-wrpper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.tjmk-profile-content-wrpper .tittle-box p {
    color: #000;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
    margin: 4px;
}

.tjmk-profile-content-wrpper .tittle-box {
    width: 200px;
}

.tjmk-profile-content-wrpper .detail-content-box>input {
    width: 100%;
    height: 49px;
    color: #FFF;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
    border-radius: 9px;
    background: #5CC19F;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: none;
    outline: none;
}

.tjmk-profile-content-wrpper .detail-rating {
    padding-left: 5px;
    list-style: none;
}

.tjmk-profile-content-wrpper .detail-rating li:first-child p {
    color: #000;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
}

.tjmk-profile-content-wrpper .detail-rating li {
    width: 210px;
}
.tjmk-profile-content-wrpper .all-reviwe-btn a {
    color: #FFF;
    font-family: 'Have nothing to do with';
    font-size: 20px;
    font-weight: 400;
    border-radius: 13px;
    background: #C69367;
    padding: 13px 17px;
    margin-top: 22px;
    transition: 0.2s;
    text-decoration: none;
}


.tjmk-profile-content-wrpper .all-reviwe-btn a:hover {
    background-color: rgba(92, 193, 159, 0.8);
}


/*==================
Review Area CSS Here
====================*/
.tjmk-profile-content-wrpper .review-area {
    margin-top: 23px;
}

.tjmk-profile-content-wrpper .review-title h2 {
    color: #000;
    font-family: 'Have nothing to do with';
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.tjmk-profile-content-wrpper .review-wrpper {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.tjmk-profile-content-wrpper .single-review {
    padding: 30px 20px;
    border-radius: 30px;
    background: #F3F3F3;
    min-height: 248px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.tjmk-profile-content-wrpper .single-review h2 {
    color: #000;
    text-align: center;
    font-family: 'Have nothing to do with';
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

.tjmk-profile-content-wrpper .review-icon {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.tjmk-profile-content-wrpper .review-icon li {
    display: inline-block;
    height: 35.707px;
    width: 35.707px;
    line-height: 35.707px;
    text-align: center;
    border-radius: 50%;
    background-color: #4EBE27;
    margin: 0 2px;
    cursor: pointer;
    opacity: 0.45;
}


.tjmk-profile-content-wrpper .review-icon li img {
    transform: scale(1.5);
}

.tjmk-profile-content-wrpper .star.selected {
    opacity: 1;
}




/*=============
Comment Box CSS
===============*/
.tjmk-profile-content-wrpper .comment-wrpper {
    margin-top: 84px;
}

.tjmk-profile-content-wrpper .inner-comment-wrpper {
    width: 70%;
    margin: auto;
}

.tjmk-profile-content-wrpper .title-box h2 {
    color: #000;
    text-align: center;
    font-family: 'Have nothing to do with';
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.tjmk-profile-content-wrpper .comment-form form {
    text-align: center;
}

.tjmk-profile-content-wrpper .comment-form form textarea {
    width: 100%;
    resize: none;
    border-radius: 30px;
    background: #F3F3F3;
    border: none;
    outline: none;
    padding: 25px;
    height: 96px;
    font-family: 'roboto';
    color: rgba(0, 0, 0, 0.6);
}

.tjmk-profile-content-wrpper .comment-form form input {
    width: 380px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-family: 'Have nothing to do with';
    font-size: 22px;
    font-weight: 400;
    border-radius: 20px;
    background: #C69367;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.tjmk-profile-content-wrpper .comment-form form input:hover {
    background-color: rgba(92, 193, 159, 0.8);
}

.submit-form {
    text-align: center;
    padding: 20px 0px;
}



@media screen and (max-width: 778px) {

    .tjmk-profile-content-wrpper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .tjmk-profile-content-wrpper .inner-wrpper {
        width: 100%;
    }

    .tjmk-profile-content-wrpper .details-left-wrpper {
        width: 100%;
    }

    .tjmk-profile-content-wrpper .details-right-area {
        width: 100%;
        padding-left: unset;
        margin-top: 20px;
    }

    .tjmk-profile-content-wrpper .profile-details-wrpper {
        flex-direction: column;
    }

    .tjmk-profile-content-wrpper .clame-btn {
        height: 56px;
    }

    .tjmk-profile-content-wrpper .single-details-wrpper {
        flex-direction: column;
        align-items: start;
    }

    .tjmk-profile-content-wrpper .detail-content-box {
        width: 100%;

    }

    .tjmk-profile-content-wrpper .detail-rating {
        text-align: center;
    }

    .tjmk-profile-content-wrpper .detail-rating li {
        width: 100%;
    }

    .tjmk-profile-content-wrpper .detail-rating .single-total-reivew {
        max-width: 204px;
    }

    .tjmk-profile-content-wrpper .all-reviwe-btn {
        text-align: center;
    }

    .tjmk-profile-content-wrpper .detail-content-box>input {
        padding-left: 5px;
    }

    .tjmk-profile-content-wrpper .single-review {
        flex: 1 1 calc(100% - 20px);
        min-height: unset;
    }

    .tjmk-profile-content-wrpper .comment-wrpper {
        margin-top: 50px;

    }

    .tjmk-profile-content-wrpper .inner-comment-wrpper {
        width: 90%;
    }

    .tjmk-profile-content-wrpper .comment-form form input {
        width: 100%;
        margin-top: 25px;
    }

    .tjmk-profile-content-wrpper .comment-form form textarea {
        padding: 10px;
    }
}



/*
====================================
Single profile page css End
====================================
*/